/**
* Forms
*
*/

.form-group .form-control.form-small{
    width:250px;
}

label {
    line-height:2.5em;
}

.fixed-to-top {
    position:fixed;
    top:0;
    z-index:1000;
    width:100%;
    left:0;
}

.form-delete {
    display:inline;
}

.input-group[class*="col-"] {
    padding-left:16px;
    padding-right:16px;
}

.input-group[class*="col-"] .form-control
{
    padding-left:12px;
    padding-right:12px;
}

#categories {
    max-height:200px;
    overflow: scroll;
}

#short_description {
    height:100px;
}

th a {
    display:block;
}

#accordion .panel .panel-heading .panel-title a
{
    display:block;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    background-color:#337ab7;
    color:white;
    margin-right:10px;
}
.tag a:link, .tag a:active, .tag a:visited
{
    color:white;
}
.tag a:hover {
    color:black;
}

.author {
    text-align:center;
}
.profile-picture-small {
    width:50px;
    height:50px;
    border-radius:50px;
    display:block;
    text-align:center;
    margin:0px auto;
}
.author .name {
    margin:10px;
}

#password-protected-post {
    display:none;
}

.img-rounded {
    margin-bottom:20px;
}

.media-body .media-heading {
    border-top:1px solid grey;
    font-size:0.8em;
}

.media-body .media-heading p {
    margin-bottom:10px;
}

.panel-heading a.post-title {
    font-size:1.5em;
}

.post-details {
    margin-top:25px;
    font-size:0.9em;
}

.form-control-feedback {
    right:20px;
}